:root {
  --white-clr: #fff;
  --gradient-color-blue: linear-gradient(90deg, rgba(49, 56, 96, 1) 0%, rgba(21, 25, 40, 1) 100%);
  --black-clr: #000;
  --grey-clr: #2D3748;
  --light-green: #4FD1C5;

  --medium-font: 32px;
}

body {
  font-family: "Inter", serif !important;
}




/* header */

.navbar-custom {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 11;
  right: 0;
  padding: 20px 0 0 !important;
}

.nav-blur-bg {
  background: hsl(0deg 0% 100% / 78%);
  padding: 10px;
  border-radius: 12px;
  backdrop-filter: blur(20px);
}

.navbar-custom .nav-link {
  padding: 0 20px !important;
  text-transform: uppercase;
  color: var(--grey-clr);
  font-weight: 500;
}

.Download-btn {
  width: 150px;
  height: 35px;
  background: rgb(49, 56, 96);
  background: var(--gradient-color-blue);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--white-clr);
}


.footer-web {
  height: 70px;
  display: flex;
  align-items: center;
}

.footer-web p {
  margin-bottom: 0;
}

.footer-web p span {
  color: var(--light-green);
}


/* sing in */


.section-big-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: calc(100vh - 70px);
  position: relative;
}

.box-50 {
  flex: 0 0 50%;
  max-width: 50%;
  height: 100%;
}

.box-50 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.login-box h2 {
  color: var(--light-green);
  font-weight: 600;
  font-size: var(--medium-font);
}

.login-box p {
  color: var(--grey-clr);
}


.login-box input,
.signin-box input {
  height: 50px;
  margin-top: 4px;
  border-radius: 12px;
}

input[type="checkbox"] {
  height: 20px;
}


.btn-form-submit {
  width: 100%;
  height: 50px;
  background: var(--light-green) !important;
  border: var(--light-green) !important;

}

.login-box p a {
  color: var(--light-green);
}

.login-box {
  margin-top: 20%;
}

/* singup */

.cover-box-signup {
  position: relative;
}


.breadcum-text {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.breadcum-text h2 {
  font-size: var(--medium-font);
  color: var(--white-clr);
  font-weight: 500;
}

.breadcum-text p {
  color: var(--white-clr);

}


.signin-box {
  padding: 25px;
  background: #fff;
  margin-top: -100px;
  position: relative;
  border-radius: 15px;
  border: 1px solid #E2E8F0;
  margin-bottom: 50px;
  box-shadow: 3px 4px 10px 0 hsl(0deg 0% 80% / 42%);
}

.signin-box h3 {
  text-align: center;
  font-size: 22px;
}

.register-with {
  padding-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
}

.register-with li {
  padding: 0 10px;
}

.register-with li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 1px solid #a1a0a0;
  border-radius: 12px;
  color: var(--grey-clr);
}

.signin-box p {
  text-align: center;
}


/* dashboard */

.Sidebar-box {
  padding: 20px 15px;
}

.dashboard-top-nav {
  padding: 10px 15px;
  background: #fff;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  margin-bottom: 20px;
}


.right-nav a {
  padding-left: 20px;
  color: var(--black-clr);
  text-decoration: none;
}

.right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}


.dashboard-body {
  min-height: 100vh;
  background-color: #F8F9FA;
  padding: 15px 0;
}


.table-box {
  margin-top: 30px;
  padding: 15px;
  background-Color: #f8f9fa;
  box-Shadow: rgb(0 0 0 / 5%) 0px 3.4px 5px;
  border-radius: 10px;
}

.table-box table tr th {
  font-size: 14px;
  font-weight: 500;
  color: rgb(139, 139, 139);
}

.table-box h4 {
  font-size: 22px;
}


.progress {
  height: 5px !important;
}

.progress-bar {
  background: var(--light-green) !important;
}

.table-box tr td {
  vertical-align: middle;
}


/* sidebar */

.Sidebar-box {
  padding: 20px 30px;
}

.Sidebar-box a img {
  padding-bottom: 20px;
  width: 80%;
}


.logo-sidebar {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E0E1E2;
  margin-bottom: 30px;
}

/*  */

.sidebar-nav {
  padding-left: 0;
}

.sidebar-nav li {
  display: block;
}

.sidebar-nav li a {
  text-decoration: none;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  color: #A0AEC0;
  line-height: 30px;
}

.sidebar-nav li a span {
  width: 30px;
  height: 30px;
  /* background: var(--light-green); */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 12px;
  padding-left: 4px;
  color: var(--light-green)
}


.Sidebar-box h5 {
  font-size: 18px;
  font-weight: 600;
}


/*  */


.sidebar-nav li a.active {
  background: #fff;
  box-shadow: rgb(0 0 0 / 2%) 0px 3.4px 5px;
  border-radius: 12px;
  color: var(--black-clr);
  font-weight: 500;
}

.sidebar-nav li a.active span {
  background: var(--light-green);
  color: var(--white-clr);
}


.two-box {
  padding-left: 55px !important;
  position: relative;
}

.two-box img {
  position: absolute;
  left: 0;
  top: 10px;
}

/*  */

.s-row {
  color: #666;
  font-size: 14px;
}

.Offline {
  padding: 4px 10px;
  background: #CBD5E0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

span.Online {
  padding: 4px 10px;
  background: var(--bs-teal);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}